@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
html {
  @media (max-width: 1290px) {
    font-size: 93.75%;
  }
  @media (max-width: 1000px) {
    font-size: 87.50%;
  }
  @media (max-height: 650px) {
    font-size: 93.75%;
  }
}
body {
  -webkit-font-smoothing: antialiased;
  background: #FFFFFF;
}
body, input, textarea, button {
  font-family: 'Prompt', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
button, a {
  cursor: pointer;
  border: 0;
  outline: none;
  background: none;
}
fieldset {
  border: none;
  outline: none;
}
img {
  display: block;
  max-width: 100%;
}
[disabled] {
  cursor: not-allowed;
}

*::-webkit-scrollbar {
  width: 4px;
}
*::-webkit-scrollbar-track {
  background: gray;
}
*::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 0;
}